/* purgecss start ignore */
/* Reset */
@tailwind base;
@tailwind components;

:root {
  --var-gray-500: #302b2b;
  --var-gray-600: #202023;
  --var-gray-100: #fafafa;
  --var-primary-400: #a1e1e7;
  --var-primary-500: #81d3da;
  --var-primary-600: #79b6bb;
  --var-primary-700: #32b8c3;
  --var-primary-img: rgba(195, 231, 236, 0.2);
  --var-cream-500: #fdf5f2;
  --var-grey-500: #636363;
  --var-teal-shadow: linear-gradient(90deg, #faebe2 84.18%, #fdf5f2 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--var-gray-100);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--var-gray-500);
}

.container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

@variants group-hover {
  .bg-cream-fade-90 {
    background: linear-gradient(90deg, #faebe2 84.18%, #fdf5f2 100%);
  }
  .bg-blue-fade-90 {
    background: linear-gradient(90deg, #a6f3f9 84.18%, #c9fafe 100%);
  }
}

.auto-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}

.auto-left {
  grid-column: 1;
}

.grid-auto-cols-2 {
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

.grid-auto-rows-209 {
  grid-auto-rows: 209px;
}

.grid-auto-cols-280 {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.grid-auto-rows-275 {
  grid-auto-rows: 275px;
}

.grid-auto-cols-266 {
  grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
}

.grid-auto-rows {
  grid-auto-rows: auto;
}

.auto-right {
  grid-column: -2;
}

.three-card-main {
  background: #fdf5f2;
}

.three-card {
  background: linear-gradient(90deg, #faebe2 84.18%, #fdf5f2 100%);
}

.card:hover .three-card {
  background: linear-gradient(90deg, #a6f3f9 84.18%, #c9fafe 100%);
}

.card:hover .three-card-main {
  background: #c9fafe;
}

details > summary {
  display: block;
  white-space: nowrap;
  outline: none;
}

summary::marker {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.video-state:hover {
  opacity: 0.8;
}

.video-state:hover .play {
  color: #81d3da;
}

.video-state:hover .black-shadow {
  display: none;
}

.fullscreen {
  opacity: 0;
  transition: 0.5s;
}

.vid {
  transition: 0.5s;
}

.sub-video:hover {
  background: rgba(195, 231, 236, 0.2);
  border: 1px solid #81d3da;
  transition: 0.5s;
}

.sub-video:hover .fullscreen {
  opacity: 1;
}

.sub-video:hover .vid {
  opacity: 0.5;
}

/* purgecss end ignore */

/* Utilities */
@tailwind utilities;
