/* purgecss start ignore */
/* Reset */
@tailwind base;
@tailwind components;

:root {
  --var-gray-500: #302B2B;
  --var-gray-600: #202023;
  --var-gray-100: #fafafa;
  --var-primary-400: #A1E1E7;
  --var-primary-500: #81d3da;
  --var-primary-600: #79B6BB;
  --var-cream-500: #FDF5F2;
  --var-grey-500: #636363;
}


.container {
  max-width: 74.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background: var(--var-gray-100);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--var-gray-500);
}

.auto-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}

.auto-left {
  grid-column: 1;
}

.auto-right {
  grid-column: -2;
}
/* purgecss end ignore */

/* Utilities */
@tailwind utilities;